@use "sass:color";

.main-contact {
  background-color: $blue-dark;
  color: #fff;
  margin-top: 40px;
  overflow: hidden;
}

.main-contact-content {
  @include max-width-2;
}

.main-contact-infos {
  position: relative;
  text-align: center;
  padding-bottom: 40px;

  h3 {
    margin: 42px auto 0;
    font-size: 1.2rem;
    font-weight: 500;
    max-width: 400px;
  }
  p {
    margin: 15px auto 0;
    font-size: 0.8rem;
    font-weight: 300;
    max-width: 400px;
  }
  label {
    font-size: 0.8rem;
    font-weight: 300;
  }
  button#show-form {
    margin: 30px 0 0;
  }
}

.contact-img {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.contact-quebec {
  opacity: 0.8;
  width: 539px;
  position: absolute;
  top: -260px;
  left: 50%;
  transform: translateX(-364px);
  z-index: 0;
}

.contact-icons {
  width: 277px;
  margin: 20px auto 0;
  display: block;
}

@media (min-width: 840px) {
  .main-contact-content {
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  .contact-quebec {
    opacity: 0.21;
    top: -325px;
    transform: translateX(-272px);
    width: 774px;
  }

  .contact-icons {
    width: 299px;
  }

  .main-contact-infos {
    text-align: left;
    padding-bottom: 35px;

    h3 {
      margin-top: 28px;
      font-size: 1.5rem;
      max-width: 430px;
    }
    label,
    p {
      margin-top: 20px;
      font-size: 0.9rem;
      max-width: 430px;
    }
    button#show-form {
      margin-top: 24px;
    }
  }
}
