@use "sass:color";

.store-overlay {
  background: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.store-content {
  position: relative;
  background-color: #fff;
  width: 80%;
  max-width: 800px;
  height: 80%;
  padding-top: 40px;
}

  .store-close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    line-height: 40px;
    padding: 0 .75rem;
    color: #767676;
    transition: all, .3s;

    &:hover {
      color: #202022;
    }
  }

  .store-img {
    display: block;
    width: 100%;
  }



@media (min-width: 768px) {
  
}