@use "sass:color";

.store-overlay {
  background: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.store-info-wrapper {
  overflow: auto;
  height: 100%;
}

.store-content {
  position: fixed;
  top: 15px;
  bottom: 15px;
  left: 15px;
  right: 15px;
  background-color: #fff;
  padding: 0 0 20px;
}

  .store-close-wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }

  .store-close {
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 0.75);
    font-size: 2.5rem;
    font-family: serif;
    line-height: 40px;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: .75rem;
    border-radius: 50px;
    color: #767676;
    transition: all, .3s;

    &:hover {
      color: #18181a;
      background-color: rgba(255, 255, 255, 0.95);
    }
  }

  .store-img-wrapper {
    min-height: 2.5rem;
  }

  .store-img {
    display: block;
    width: 100%;
  }

  .store-info {
    padding: 0rem 1.5rem;

    .store-info-top {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    h1 {
      @include front-title;

      & {
        margin-bottom: 0;
        white-space: nowrap;
      }
    }

    .address {
      margin: 0;
      font-size: .85rem;
      color: $text-light;
    }

    .phone {
      margin: .7rem 0 0;
      font-size: .8rem;
      white-space: nowrap;
    }

    .description {
      font-size: 0.8rem;
      margin-bottom: 0;
    }

    .features {
      margin: 1rem 0;
      padding: 1rem 0;
      border-top: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 12px 20px;
      margin-bottom: .75rem;
      color: #5a5a5c;
      font-weight: 300;
      font-size: .8rem;
    }

    .store-ctas {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 1.2rem;
    }

    .suggest-change {
      cursor: pointer;
      border: none;
      background-color: transparent;
      color: $blue-dark-active;
      font-size: .8rem;
      padding: 0 0 .1rem;
      margin-top: 1rem;
      transition: all .4s;
      @include link-hover-underlined($blue-light);

      &:hover {
        color: $blue-light
      }
    }
  }



@media (min-width: 575px) {
  .store-overlay {
    position: absolute;
  }
  .store-content {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    width: 80%;
    max-width: 800px;
    max-height: 95%;
    padding: 0 0 20px;
    overflow: auto;
    border-radius: 0.5rem;
    -webkit-box-shadow: 2px 2px 10px 1px rgba(0, 35, 94, 0.25);
    box-shadow: 2px 2px 10px 1px rgba(0, 35, 94, 0.25);
  }

  .store-info {

    .address {
      margin-top: 0;
      font-size: .95rem;
    }

    .phone {
      margin-top: .85rem;
      font-size: 0.9rem;
    }

    .features {
      font-size: 0.9rem;
    }

    .description {
      font-size: 0.9rem;
    }

    .suggest-change {
      font-size: .8em;
    }
  }
}