@use "sass:color";

footer.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin: 0;
  padding: 80px 0 10px;
  text-align: center;
  font-size: 0.8rem;

  .logo {
    width: 30px;
  }
}
