@use "sass:color";

#map {
  width: 100%;
  height: 100%;
}

.popup-link {
  text-decoration: none;
  color: $blue-dark-active;
  font-size: 0.8rem;
  transition: all 0.4s;
  @include link-hover-underlined($blue-light);

  &:hover {
    color: $blue-light;
  }
}
