.summary {
  @include max-width-2;
  margin-top: 30px;

  h2 {
    @include front-title;
  }

  p {
    margin: 0 0 0.6rem;
    font-size: 0.8rem;
  }

  @media (min-width: 768px) {
    margin-top: 40px;

    p {
      font-size: 0.9rem;
    }
  }
}
