@use "sass:color";

#list {
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding: 10px 15px;
  overflow: auto;
}

.list-section {
  margin-top: 70px;

  h3 {
    font-size: 1rem;
    text-transform: uppercase;
  }
}

.masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;

  & + .masonry-grid {
    margin-top: 50px;
  }
}

.masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

.mansonry-brick {
  & + .mansonry-brick {
    margin-top: 30px;
  }

  h2 {
    margin: 0;
    font-size: 1.1rem;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 0.25rem;
  }

  li {
    margin-bottom: 0.25rem;
  }

  a,
  button {
    @include geologica-300;
    @include link-hover-underlined(#747474);
    display: inline-block;
    border: 0;
    background-color: transparent;
    color: $text-dark;
    font-size: 0.8rem;
    padding: 0.1rem 0.45rem;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
      padding-left: 0.75rem;
    }
  }
}

@media (min-width: 768px) {
  .mansonry-brick {
    h2 {
      font-size: 1.3rem;
    }

    a,
    button {
      font-size: 0.9rem;
    }
  }
}
