@use "./fonts.scss" as *;

@mixin max-width-1 {
  max-width: 1600px;
  margin: 0 auto;
}

@mixin max-width-2 {
  max-width: 900px;
  margin: 0 auto;
}

@mixin front-title {
  @include geologica-400;
  font-size: 1.2rem;
  margin-bottom: .4rem;

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }

  i {
    font-weight: 200;
  }
}

@mixin link-hover-underlined($borderColor) {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: $borderColor;
    left: 0;
    bottom: 0;
    transition: 0.4s all;
  }

  &:hover:after {
    width: 100%;
  }
}