@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Mitr:wght@200;300;400;500;600;700&display=swap');

@mixin geologica {
  font-family: "Geologica", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-variation-settings:
  "slnt" 0,
  "CRSV" 0,
  "SHRP" 0;
}

@mixin geologica-400 {
  @include geologica;
  font-weight: 400;
}

@mixin geologica-300 {
  @include geologica;
  font-weight: 300;
}

@mixin mitr-extralight {
  font-family: "Mitr", serif;
  font-weight: 200;
  font-style: normal;
}

@mixin mitr-light {
  font-family: "Mitr", serif;
  font-weight: 300;
  font-style: normal;
}

@mixin mitr-regular {
  font-family: "Mitr", serif;
  font-weight: 400;
  font-style: normal;
}

@mixin mitr-medium {
  font-family: "Mitr", serif;
  font-weight: 500;
  font-style: normal;
}

@mixin mitr-semibold {
  font-family: "Mitr", serif;
  font-weight: 600;
  font-style: normal;
}

@mixin mitr-bold {
  font-family: "Mitr", serif;
  font-weight: 700;
  font-style: normal;
}
